body {
    margin: 0;
    overflow: hidden;
    background-image: url(VBanner.png);
    width: 100vw;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20%;
    height: 5px; /* Die Höhe des "V"-Teils */
    background: black; /* Weißer Hintergrund */
    transform: translateX(-30%) rotate(-45deg); /* Rotieren und positionieren */
    z-index: 1; /* Über dem Hintergrundbild */
}

/* Ändern Sie den Stil der Scrollleiste nach Ihren Wünschen */
::-webkit-scrollbar {
    width: 10px; /* Breite der Scrollleiste */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Hintergrundfarbe des Scrollleistenbereichs */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Farbe des Scrollleisten-Thumb (der bewegliche Teil) */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Farbe des Thumb bei Hover-Zustand */
}

header {
  display: flex;
  padding: 10px;
  background-color: transparent;
}

header h1 {
  margin: 0;
  text-align: left;
}

header button{
  border-radius: 50px 0;
  margin-left: auto;
  padding: 10px 20px;
  background-color: blue;
  color: yellow;
  border: none;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
}

#theme-toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between; /* Fügen Sie diese Zeile hinzu */
  max-width: 400px; /* Passen Sie die max. Breite an Ihren gewünschten Abstand an */
  width: 100%; /* Fügen Sie diese Zeile hinzu, um es responsiv zu machen */
}

.menu a {
  text-decoration: none;
}

/* Fügen Sie diesen Stil für den Abstand zwischen den Links hinzu */
.menu li:not(:last-child) {
  margin-right: 20px; /* Passen Sie den Abstand nach Ihren Wünschen an */
}

.menu li:last-child {
  margin-right: 0;
}

.menu a:hover {
  border-bottom: 2px solid violet; 
}

.menu a.active {
  border-bottom: 2px solid violet;
}

.menu nav ul li a.active {
  border-bottom: 2px solid violet;
}

p{
  font-weight: bold;
  text-align: center;
}
